<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Add Student</title>
	</head>
	<body>
		<h1>Add a new Student:</h1>
		
		<form action="add" method="post">
			<label>Enter roll : </label>
			<input type="text" name="roll" />
			<br>
			<label>Enter name : </label>
			<input type="text" name="name" />
			<br>
			<label>Enter branch : </label>
			<input type="text" name="branch" />
			<br>
			<label>Enter yop : </label>
			<input type="text" name="yop" />
			<br>
			<input type="submit" value="ADD Student">
		
		
		
		</form>
	
	</body>
</html>