<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Update Student</title>
	</head>
	<body>
		<h1>Add a new Student:</h1>
		
		<form action="update" method="post">
			<label>Enter original roll : </label>
			<input type="text" name="roll" />
			<br>
			<label>Enter updated name : </label>
			<input type="text" name="name" />
			<br>
			<label>Enter updated branch : </label>
			<input type="text" name="branch" />
			<br>
			<label>Enter updated yop : </label>
			<input type="text" name="yop" />
			<br>
			<input type="submit" value="UPDATE Student">
		
		
		
		</form>
	
	</body>
</html>